<div style="border: solid blue 2px; padding: 15px; margin: 10px">
<b>Overall Summary of the Project ‚Äì Iteration 4</b>

Hi Joseph, excellent work! You've successfully addressed all previous comments and brought the project to completion. Your final version is well-structured, thoughtful, and meets all the requirements ‚Äî the project is now approved. ‚úÖ

---

<b>Nice work on:</b>  
‚úîÔ∏è Writing clean, reusable functions for filtering and extracting data  
‚úîÔ∏è Using <code>set()</code> and <code>join()</code> appropriately to meet task requirements  
‚úîÔ∏è Handling edge cases, like missing titles, with good logic  
‚úîÔ∏è Keeping your code readable and well-aligned with the instructions

<hr>

Just a quick reminder:  
üü¢ Green comments highlight great solutions worth keeping.  
üü° Yellow comments are suggestions for optimization.  
üî¥ Red comments must be fixed for a project to be approved.  
üîµ You can use blue to leave your own comments or questions if needed.

<hr>

Best,  
Victor Camargo (Discord: camargo.victor)  

P.S. Don‚Äôt forget to rate your experience by leaving feedback here:  
<a href="https://form.typeform.com/to/wIDK4zE5" target="_blank">https://form.typeform.com/to/wIDK4zE5</a>
</div>

# Project: Data Analysis with Pandas

In this project, you will work with a dataset containing information about movies and shows. You will use the pandas library to read, clean, and analyze the data. This project will help you practice working with DataFrames, indexing, and data manipulation using pandas.


## Dataset Description

The dataset `movies_and_shows.csv` contains information about various movies and shows, including:

- **name**: The name of the actor or actress.
- **Character**: The character they played.
- **r0le**: The role type (e.g., ACTOR).
- **TITLE**: The title of the movie or show.
- **Type**: Whether it's a MOVIE or SHOW.
- **release Year**: The year it was released.
- **genres**: A list of genres the movie or show belongs to.
- **imdb sc0re**: The IMDb score of the movie or show.
- **imdb v0tes**: The number of votes on IMDb.

Here's a small sample of the dataset:

| name              | Character                         | r0le   | TITLE        |  Type | release Year | genres             | imdb sc0re | imdb v0tes |
|-------------------|-----------------------------------|--------|--------------|-------|--------------|--------------------|------------|------------|
| Robert De Niro    | Travis Bickle                     | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Jodie Foster      | Iris Steensma                     | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Albert Brooks     | Tom                               | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Harvey Keitel     | Matthew 'Sport' Higgins           | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Cybill Shepherd   | Betsy                             | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |

## Getting Started

Let's begin by setting up our environment.

### Importing Libraries

First, we need to import the necessary libraries.

**Instructions:**

- Import the `pandas` library, which we will use for data manipulation.

We will load the dataset into a pandas DataFrame to begin our analysis.

**Instructions:**

- Read the `movies_and_shows.csv` file into a DataFrame. It is in the /datasets directory so the full path to include in the read_csv method will be "/datasets/movies_and_shows.csv"
- Display the first few rows of the DataFrame to get an initial look at the data.

**Hints:**

- Use `pd.read_csv()` to read the CSV file and store it in a variable called "df".
- Use the `.head()` method to display the first few rows.

In [43]:
import pandas as pd

In [44]:
# Read the dataset into a DataFrame
df = pd.read_csv('/datasets/movies_and_shows.csv')

In [45]:
# Display the first few rows of the DataFrame
print(df.head())

              name                Character   r0le        TITLE   Type  \
0   Robert De Niro            Travis Bickle  ACTOR  Taxi Driver  MOVIE
1     Jodie Foster            Iris Steensma  ACTOR  Taxi Driver  MOVIE
2    Albert Brooks                      Tom  ACTOR  Taxi Driver  MOVIE
3    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR  Taxi Driver  MOVIE
4  Cybill Shepherd                    Betsy  ACTOR  Taxi Driver  MOVIE

   release Year              genres  imdb sc0re  imdb v0tes
0          1976  ['drama', 'crime']         8.2    808582.0
1          1976  ['drama', 'crime']         8.2    808582.0
2          1976  ['drama', 'crime']         8.2    808582.0
3          1976  ['drama', 'crime']         8.2    808582.0
4          1976  ['drama', 'crime']         8.2    808582.0

Understanding the structure and content of your data is crucial before performing any analysis.

**Instructions:**

- Use the `.info()` method to get information about the DataFrame.
- Identify any issues with the Column names.

In [46]:
# Get information about the DataFrame and print the column names
df.info()

column_names = df.columns
print(column_names)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85579 entries, 0 to 85578
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0      name       85579 non-null  object
 1   Character     85579 non-null  object
 2   r0le          85579 non-null  object
 3   TITLE         85578 non-null  object
 4     Type        85579 non-null  object
 5   release Year  85579 non-null  int64
 6   genres        85579 non-null  object
 7   imdb sc0re    80970 non-null  float64
 8   imdb v0tes    80853 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 5.9+ MB
Index(['   name', 'Character', 'r0le', 'TITLE', '  Type', 'release Year',
       'genres', 'imdb sc0re', 'imdb v0tes'],
      dtype='object')

<div style="border: 3px solid #5cb85c; padding: 12px; margin: 10px; border-radius: 5px; background-color: #f5fdf5">
  <b>Reviewer's comment ‚Äì Iteration 4:</b><br>
  Great work ‚Äî the dataset was loaded and explored correctly using <code>.head()</code> and <code>.info()</code>. Clear and to the point.
</div>

## Task 1: Data Cleaning

Let's clean the data to fix issues with the column names

**Instructions:**
- Rename the columns to correct any errors and make them consistent.

**Hints:**

- Use the `.rename()` method to rename columns.
- Pass a dictionary to the `columns` parameter of `.rename()`, where the keys are the old column names and the values are the new names.
- Remove unnecessary whitespace from the column names.

In [47]:
# Rename columns to make them consistent and correct errors
df = df.rename(columns={
    '   name': 'Name',
    'r0le': 'Role',
    'TITLE': 'Title',
    '  Type': 'Type',
    'release Year': 'Release_Year',
    'genres': 'Genres',
    'imdb sc0re': 'imdb_score',
    'imdb v0tes': 'imdb_votes'})

In [48]:
# Print the updated column names to confirm changes
print(df.columns)

Index(['Name', 'Character', 'Role', 'Title', 'Type', 'Release_Year', 'Genres',
       'imdb_score', 'imdb_votes'],
      dtype='object')

<div style="border: 3px solid #f0ad4e; padding: 12px; margin: 10px; border-radius: 5px; background-color: #fcf8e3">
  <b>Reviewer's comment ‚Äì Iteration 4:</b><br>
  Nice job renaming the columns to fix typos and improve consistency. One suggestion for best practice: consider using lowercase with snake_case (e.g., <code>'release_year'</code>, <code>'imdb_score'</code>) for all column names. This is a common convention in Python and helps maintain consistency in later processing.
</div>

## Task 2: Correcting a Misspelled Name in the Data

While analyzing the dataset, you notice that some names are misspelled or contain special characters due to encoding issues. Accurate data is essential for reporting and recommendations, so let‚Äôs correct one of these entries.

### Instructions

1. **Locate the Row with the Incorrect Name**:
   - Use `.loc[]` to retrieve the row where `name` is `"In??s Prieto"`.
   - You can locate a row based on the index (85576) and column name called "name".
   - Print the row to verify that you have the correct one.


2. **Correct the Name**:
   - Using `.loc[]`, update the `name` column for this row to "Ines Prieto."
   
3. **Verify the Correction**:
   - Print the row again to ensure that the name has been corrected.

In [49]:
# Locate the row with the incorrect name

incorrect_name_row = df.loc[df['Name'] == "In??s Prieto"]
df.loc[df['Name'] == "In??s Prieto", 'Name'] = "Ines Prieto"
print(incorrect_name_row)

               Name Character   Role    Title       Type  Release_Year  \
77798  In??s Prieto     Fanny  ACTOR  Lokillo      MOVIE          2021
85576  In??s Prieto     Fanny  ACTOR  Lokillo  the movie          2021

           Genres  imdb_score  imdb_votes
77798  ['comedy']         3.8        68.0
85576  ['comedy']         3.8        68.0

In [50]:
# Correct the name
df.loc[df['Name'] == "In??s Prieto", 'Name'] = "Ines Prieto"

In [51]:
# Verify the correction

corrected_name_row = df.loc[df['Name'] == "Ines Prieto"]
df.loc[df['Name'] == "Ines Prieto"]
print(corrected_name_row)

              Name Character   Role    Title       Type  Release_Year  \
77798  Ines Prieto     Fanny  ACTOR  Lokillo      MOVIE          2021
85576  Ines Prieto     Fanny  ACTOR  Lokillo  the movie          2021

           Genres  imdb_score  imdb_votes
77798  ['comedy']         3.8        68.0
85576  ['comedy']         3.8        68.0

<div style="border: 3px solid #f0ad4e; padding: 12px; margin: 10px; border-radius: 5px; background-color: #fcf8e3">
  <b>Reviewer's comment ‚Äì Iteration 4:</b><br>
  Good job following the instructions and applying the correction successfully. To streamline your code, consider avoiding repeated <code>.loc[]</code> expressions by storing the condition in a variable or simplifying your logic ‚Äî this will make it easier to maintain and reduce duplication.
</div>

## Task 3: Finding All Movies and Shows Featuring Ines Prieto

Now that we've corrected the spelling of "Ines Prieto" in the dataset, let's find all the TV shows and movies she has acted in. This type of filtering is helpful for generating actor-specific profiles or building a list of their works.

### Instructions

1. **Filter by Actor‚Äôs Name**:
   - Use a filtering condition to select rows where the `name` column is equal to `"Ines Prieto"`.
   
2. **Display Relevant Columns**:
   - From each matching row, retrieve only the `title`, `release_year`, `imdb_score`, and `genres` columns for a clear, concise output.

**Hint:**

To filter rows based on a specific value in a column, use a condition inside df[ ... ]. In this case, check if the name column equals "Ines Prieto". Then, select only the columns you need (like title, release_year, imdb_score, and genres) by specifying them in double brackets [ [ ... ] ].

In [52]:
# Filter rows where the actor's name is "Ines Prieto" and display the title, release_year, genres, and imdb_score
filtered_df = df[df['Name'] == "Ines Prieto"][['Title', 'Release_Year', 'imdb_score', 'Genres']]

In [53]:
# Display the result
print(filtered_df)

         Title  Release_Year  imdb_score      Genres
77798  Lokillo          2021         3.8  ['comedy']
85576  Lokillo          2021         3.8  ['comedy']

<div style="border: 3px solid #5cb85c; padding: 12px; margin: 10px; border-radius: 5px; background-color: #f5fdf5">
  <b>Reviewer's comment ‚Äì Iteration 4:</b><br>
  Great job! You filtered the data correctly and selected only the relevant columns as instructed. The code is clean and concise ‚Äî well done.
</div>

## Task 4: Finding Highly Rated Movies

We want to identify movies with an IMDb rating of at least **9.0**. This list could be helpful for curating a "Top Movies" section based on high ratings.

### Instructions

1. **Filter for High IMDb Scores**:
   - First, filter the DataFrame to include only rows where the `imdb_score` is greater than 9.0.

2. **Extract the Titles**:
   - From this filtered DataFrame, select only the `title` column, which contains the names of the movies.

3. **Get Unique Titles**:
   - Convert the resulting list of titles to a set to remove any duplicate titles. Using `set()` will keep only unique movie names.

   - *Example*: `unique_titles = set(high_score_titles)`

4. **Print the Unique Titles**:
   - Display the final set of unique movie titles to see the list of top-rated movies.

In [54]:
# Filter for movies with an IMDb score above 9.0

high_score_df = df[df['imdb_score'] > 9.0]
df[df['imdb_score'] > 9.0]
    
# Extract the 'title' column from the filtered DataFrame

high_score_titles = high_score_df['Title']

# Get a unique set of titles

unique_titles = high_score_titles.unique()
set(high_score_titles)

# Print the unique titles
print(unique_titles)

['Breaking Bad' 'Avatar: The Last Airbender' 'Reply 1988' 'My Mister'
 'The Last Dance' 'Our Planet' 'Kota Factory' 'Major']

<div style="border: 3px solid #5cb85c; padding: 12px; margin: 10px; border-radius: 5px; background-color: #f5fdf5">
  <b>Reviewer's comment ‚Äì Iteration 4:</b><br>
  Excellent work! You filtered the data and retrieved the movie titles correctly. Using <code>.unique()</code> instead of <code>set()</code> is a valid alternative here ‚Äî both achieve the goal of listing unique titles. The solution is clean and meets the task requirements.
</div>

## Task 5: Creating a Function to Find Unique Top-Rated Movies

In this task, we‚Äôll create a function to find unique movies with an IMDb score above a certain threshold that the user provides.

### Instructions

1. **Define the Function**:
   - Start by creating a function called `get_unique_top_movies` that takes one parameter, `min_score`.

2. **Filter the Data**:
   - Inside the function, create a new variable (e.g., `high_score_df`) that stores rows where the `imdb_score` is greater than or equal to `min_score`.

3. **Extract Movie Titles**:
   - In a new variable (e.g., `high_score_titles`), select the `title` column from the filtered DataFrame.

4. **Remove Duplicate Titles**:
   - Convert `high_score_titles` to a set using `set(high_score_titles)` to automatically remove duplicates, ensuring each title appears only once.

5. **Return the Unique Titles**:
   - Make sure the function returns the `unique_titles` set.

In [55]:
# Define the function 
def get_unique_top_movies(min_score):

    # Filter for movies with IMDb score above min_score
    high_score_df = df[df['imdb_score'] >= min_score]

    # Extract the 'title' column
    high_score_titles = high_score_df['Title']

    # Remove duplicate titles
    unique_titles = set(high_score_titles)

    # Return unique titles

    return unique_titles

In [56]:
# Test the function
print(get_unique_top_movies(9.0))

{'Our Planet', 'Leah Remini: Scientology and the Aftermath', 'My Mister', 'Okupas', 'Major', 'Avatar: The Last Airbender', 'Reply 1988', 'The Last Dance', 'DEATH NOTE', 'Kota Factory', 'Hunter x Hunter', 'Attack on Titan', 'Breaking Bad', 'Arcane'}

<div style="border: 3px solid #5cb85c; padding: 12px; margin: 10px; border-radius: 5px; background-color: #f5fdf5">
  <b>Reviewer's comment ‚Äì Iteration 4:</b><br>
  Great work! The function is well-structured, follows all instructions, and produces the correct result. Clear logic, good variable names, and correct use of <code>set()</code> to return unique titles. Nicely done.
</div>

## Task 6: Creating a Function to Find Top Movies from a Specific Decade

Let‚Äôs create a function to retrieve movies from a particular decade with high IMDb ratings. This function can be useful for generating lists of top-rated movies from different time periods.

### Instructions

1. **Define the Function**:
   - Create a function called `get_top_movies_from_decade` that accepts `decade_start` and `min_score` as parameters.

2. **Filter by Decade**:
   - Inside the function, filter the DataFrame to include only movies where `release_year` is within the specified decade.
   - *Hint*: You can achieve this by checking that `release_year` is between `decade_start` and `decade_start + 9`

3. **Filter by IMDb Score**:
   - Further filter this subset to include only movies where `imdb_score` is greater than or equal to `min_score`.

4. **Extract Movie Titles**:
   - From the resulting DataFrame, select the `title` column and remove duplicates using set().

5. **Return the List of Titles**:
   - Return the set of the best movies from that decade.

By completing this task, you‚Äôll have a function that returns unique, top-rated movies from a specified decade. This is useful for highlighting standout movies from different eras, perfect for ‚ÄúBest of the Decade‚Äù features!

In [57]:

# Define the function

def get_top_movies_from_decade(decade_start, min_score):
    
    # Filter for movies released within the decade
    
    decade_movies = df[(df['Release_Year']>= decade_start) & (df['Release_Year']<= decade_start + 9)]

    # Further filter by IMDb score
    
    high_score_movies = decade_movies[decade_movies['imdb_score'] >= min_score]

    # Extract and remove duplicate titles

    unique_titles = set(high_score_movies['Title'])

    # Return unique titles

    return unique_titles

In [58]:
df.head()

,Name,Character,Role,Title,Type,Release_Year,Genres,imdb_score,imdb_votes
0,Robert De Niro,Travis Bickle,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
1,Jodie Foster,Iris Steensma,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
2,Albert Brooks,Tom,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
3,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
4,Cybill Shepherd,Betsy,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0

In [59]:
# Test the function
print(get_top_movies_from_decade(1990, 8.5))

{'One Piece', 'GoodFellas', 'Forrest Gump', 'Neon Genesis Evangelion', 'Cowboy Bebop', 'Bill Hicks: Revelations', 'Se7en', 'L??on: The Professional'}

<div style="border: 3px solid #5cb85c; padding: 12px; margin: 10px; border-radius: 5px; background-color: #f5fdf5">
  <b>Reviewer's comment ‚Äì Iteration 4:</b><br>
  Great job! Your function correctly implements the decade and score filtering, and returns a clean set of unique movie titles. Clear structure, appropriate logic, and meets all task requirements. Nicely done.
</div>


## Task 7: Creating a Function to List All Actors in a Given Title

Imagine you want to list all the actors in a specific movie or show. Let‚Äôs create a function that takes a `title` as input and returns the names of all actors in that title, combined into a single string.


### Instructions

1. **Define the Function**:
   - Create a function called `get_actors_for_title` that accepts one parameter, `title`.
   
2. **Filter by Title and Role**:
   - Inside the function, filter the DataFrame to select rows where the `title` column matches the provided `title` parameter and the `role` column is `"ACTOR"` (to ensure you only retrieve actors).

3. **Extract Actor Names**:
   - From this filtered DataFrame, select only the `name` column to get the actor names.

4. **Combine Names into a Single String**:
   - Use `', '.join()` to combine the list of actor names into a single string, with each name separated by a comma.

5. **Return the Result**:
   - Return the resulting string of actor names.


This function will allow you to retrieve and format a list of actors for any movie or show title, which is useful for creating cast lists or displaying actors for specific titles.

In [60]:
# Define the function
def get_actors_for_title(title):
    # Filter for rows with the specified title and role as 'ACTOR'
    
    actors_df = df[(df['Title'] == title) & (df['Role'] == 'ACTOR')]

    # Extract the 'name' column for actor names

    actor_names = actors_df['Name']
    
    # Combine names into a single string
    
    combine_names = ",".join(actor_names)

    # Return the result
    return combine_names

In [61]:
# Test the function
print(get_actors_for_title("Taxi Driver"))

Robert De Niro,Jodie Foster,Albert Brooks,Harvey Keitel,Cybill Shepherd,Peter Boyle,Leonard Harris,Diahnne Abbott,Gino Ardito,Martin Scorsese,Murray Moston,Richard Higgs,Bill Minkin,Bob Maroff,Victor Argo,Joe Spinell,Robinson Frank Adu,Brenda Dickson,Norman Matlock,Harry Northup,Harlan Cary Poe,Steven Prince,Peter Savage,Nicholas Shields,Ralph S. Singleton,Annie Gagen,Carson Grant,Mary-Pat Green,Debbi Morgan,Don Stroud,Copper Cunningham,Garth Avery,Nat Grant,Billie Perkins,Catherine Scorsese,Charles Scorsese,Odunlade Adekola,Ijeoma Grace Agu

<div style="border: 3px solid #5cb85c; padding: 12px; margin: 10px; border-radius: 5px; background-color: #f5fdf5">
  <b>Reviewer's comment ‚Äì Iteration 4:</b><br>
  Well done! Your function correctly filters by title and role, extracts the names, and returns them as a clean, comma-separated string. Great use of <code>join()</code> and clear structure throughout.
</div>

## Task 8: Creating a Function to Categorize Movies by IMDb Score

Let‚Äôs categorize movies and shows based on their IMDb scores to provide a quick evaluation of their popularity or quality. We‚Äôll create a function that takes in a `title` and returns a rating category based on the movie or show‚Äôs IMDb score.

### Rating Categories

- **Excellent**: IMDb score of 9.0 or higher
- **Good**: IMDb score between 7.0 and 8.9
- **Average**: IMDb score between 5.0 and 6.9
- **Low**: IMDb score below 5.0

### Instructions

1. **Define the Function**:
   - Create a function called `categorize_imdb_score` that accepts one parameter, `title`.

2. **Filter by Title**:
   - Inside the function, filter the DataFrame to find the row where `title` matches the given title.

3. **Retrieve IMDb Score**:
   - If the title exists, retrieve the `imdb_score` for that movie or show.
   - If the title is not found, return `"Title not found"`.

4. **Categorize Score with `if-else`**:
   - Use `if-elif-else` statements to evaluate the `imdb_score` and return one of the rating categories based on the ranges provided.

5. **Return the Category**:
   - Return the appropriate category based on the score.

This function allows you to quickly categorize movies or shows by their IMDb score, which could be helpful for creating rating tags or recommending top-rated content.

In [62]:
# Define the function
def categorize_imdb_score(title):
    # Filter for the row with the specified title

    movie = df[df['Title'] == title]
    
    # Check if title exists

    if movie.empty:
        return "title not found"

    # Retrieve the IMDb score for the movie
        
    score = movie ["imdb_score"].loc[0]

    # Categorize score using if-else and return the ranking accordingly
    if score >= 9.0:
        return "Excellent"
    elif 7.0 <= score <= 8.9:
        return "Good"
    elif 5.0 <= score <= 6.9:
        return "Average"
    else:
        return "Low"

In [63]:
# Test the function
print(categorize_imdb_score("Taxi Driver"))

Good

<div style="border: 3px solid #5cb85c; padding: 12px; margin: 10px; border-radius: 5px; background-color: #f5fdf5">
  <b>Reviewer's comment ‚Äì Iteration 4:</b><br>
  Excellent implementation! Your function handles missing titles gracefully and uses clear if-elif-else logic to categorize IMDb scores accurately. Everything is clean, readable, and works exactly as expected.
</div>